In [1]:
%%bash
psql postgresql://root:root@localhost:5432/postgres -c "SELECT 1;"

 ?column?
----------
        1
(1 row)

In [4]:
%%bash
psql postgresql://root:root@localhost:5432/postgres <<'SQL'
SELECT
    table_schema,
    table_name
FROM information_schema.tables
ORDER BY table_schema, table_name
LIMIT 10;
SQL

    table_schema    |            table_name
--------------------+-----------------------------------
 information_schema | _pg_foreign_data_wrappers
 information_schema | _pg_foreign_servers
 information_schema | _pg_foreign_table_columns
 information_schema | _pg_foreign_tables
 information_schema | _pg_user_mappings
 information_schema | administrable_role_authorizations
 information_schema | applicable_roles
 information_schema | attributes
 information_schema | character_sets
 information_schema | check_constraint_routine_usage
(10 rows)

In [9]:
%load_ext sql 
%sql postgresql://root:root@localhost:5432/postgres

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting to 'postgresql://root:***@localhost:5432/postgres'

In [10]:
%sql select 1;

Running query in 'postgresql://root:***@localhost:5432/postgres'

1 rows affected.

+----------+
| ?column? |
+----------+
|    1     |
+----------+

In [11]:
%sql SELECT table_schema, table_name FROM information_schema.tables WHERE table_type = 'BASE TABLE' ORDER BY table_schema, table_name;

Running query in 'postgresql://root:***@localhost:5432/postgres'

66 rows affected.

+--------------------+-------------------------+
|    table_schema    |        table_name       |
+--------------------+-------------------------+
| information_schema |       sql_features      |
| information_schema | sql_implementation_info |
| information_schema |        sql_parts        |
| information_schema |        sql_sizing       |
|     pg_catalog     |       pg_aggregate      |
|     pg_catalog     |          pg_am          |
|     pg_catalog     |         pg_amop         |
|     pg_catalog     |        pg_amproc        |
|     pg_catalog     |        pg_attrdef       |
|     pg_catalog     |       pg_attribute      |
+--------------------+-------------------------+
Truncated to displaylimit of 10.

In [12]:
%%sql
SELECT
    table_schema,
    table_name
FROM information_schema.tables
WHERE table_type = 'BASE TABLE'
ORDER BY
    table_schema,
    table_name;

Running query in 'postgresql://root:***@localhost:5432/postgres'

66 rows affected.

+--------------------+-------------------------+
|    table_schema    |        table_name       |
+--------------------+-------------------------+
| information_schema |       sql_features      |
| information_schema | sql_implementation_info |
| information_schema |        sql_parts        |
| information_schema |        sql_sizing       |
|     pg_catalog     |       pg_aggregate      |
|     pg_catalog     |          pg_am          |
|     pg_catalog     |         pg_amop         |
|     pg_catalog     |        pg_amproc        |
|     pg_catalog     |        pg_attrdef       |
|     pg_catalog     |       pg_attribute      |
+--------------------+-------------------------+
Truncated to displaylimit of 10.